{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}Login to Account{% endblock %}
{% block content %}
    <h1 class="main-header">Login</h1>
    <form action="{% url 'login_user' %}" method="post">
        {% csrf_token %}
        {{ login_user | crispy }}
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    {% if failed_login %}
        <div class="alert alert-danger bottom-alert" role="alert">
            Invalid login details!
        </div>
    {% endif %}
{% endblock %}
